* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
body {
  background-image: url(./image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Pacifico', sans-serif;
}

.header {
  font-size: 2.5rem;
  margin: 1rem 1rem 0 1rem;
  display: flex;
  text-align: center;
  font-family: 'Pacifico', sans-serif;
}

.general-container{
  margin-left: 3rem;

}

.score-container {
  margin: 2rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.score-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.scr {
 font-size: 2rem;
}

h2 {
  color: yellow;
  font-family: 'Pacifico', sans-serif;
}

.refresh-button {
  padding: 0 0.45rem;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px 3px #000;
  font-size: 1.3rem;
  font-weight: bold;
  height: 1.75rem;
  cursor: pointer;
  font-family: 'Italianno', sans-serif;
  border-radius: 25px;
}

.scoreboard {
  border: 1px solid #000;
}

.score-display {
  justify-content: space-between;
  padding: 0.825rem 0.625rem;
  font-weight: bold;
  border: 3px solid black;
  background: white;
}

.score-display ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: flex;
  gap: 20px;
  padding: 5px 10px;
}

li:nth-child(even) {
  background: #656665e1;
  color: #fff;
}

#leaderboard-forms h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

.form-container {
  text-align: center;
  margin-top: 1rem;
}

input {
  margin-bottom: 0.5rem;
  border: 3px solid #000;
}

#name,
#score {
  font-size: 1rem;
  padding-left: 0.4rem;
  color: #000;
  border-radius: 50px;
  padding: 8px;
}

#name::placeholder,
#score::placeholder {
  color: #000;
  font-weight: bolder;
  font-family: 'Pacifico', sans-serif;
}

.submit-btn {
  padding: 0.1rem 1rem;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px 3px #000;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: end;
  transform: translateX(4.38rem);
  cursor: pointer;
  border-radius: 50px;
  font-family: 'Italianno', sans-serif;
}

@media only screen and (min-width: 768px) {
  .header {
    text-align: start;
    margin-left: 2rem;
  }

  .general-container {
    display: flex;
  }

  .scores-container {
    margin: 0 4rem 0 4rem;
  }

  .scores-header-div {
    gap: 5rem;
  }
}
